html, body {
    margin: 0;
    padding: 0;
}

#container {
    width: 989px;
    margin: 0 auto;
    background: white;
    padding: 3px;
}

section{
    margin: 0 ;
}

h1{
    text-align: center;
}

body {
    background: #e1edec;
}

table {
    border: 1px solid #888888;
    width: 100%;
    margin: 5px;
}

th, td {
    text-align: left;
    padding: 8px;
}

fieldset {
    border: 0;
}

#inputField {
    display: none;
    background: white;
    position: fixed;
    margin: 0 auto;
    width: 400px;
    box-shadow: 10px 10px 5px #888888;
}
